# gaml library 
gaml/

# data files
*.csv

# .idx files
*.idx

# tweet generator executable
tweet-generator/tweet-generator

# python virtual environnement
*venv

# jupyter notebook in Python
*.ipynb

# pycache
*__pycache__

# my kafka consumer file + kafka file for docker compose test
*kafka_consumers/
*kafka_files/